@keyframes fadeInOut {
    25% {
        opacity: 1
    }

    80% {
        opacity: 0.75
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes moveUp {
    0% {
        opacity: 0.55
    }

    100% {
        transform: translateY(-12.5vh);
        opacity: 1
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.75
    }
    100% {
        transform: translateX(-3.5vw);
        opacity: 1
    }
}