@keyframes fadeInOut {
    25% {
        opacity: 1
    }

    80% {
        opacity: 0.75
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        opacity: 0.55
    }

    100% {
        transform: translateY(-18.5vh);
        opacity: 1
    }
}

@keyframes moveUpGraph {
    5% {
        opacity: 0.75
    }

    100% {
        transform: translateY(-12.5vh);
        opacity: 1
    }
}