body {
    width: 50%;
    height: 50%;
  }
  h2 {
    background-color: rgba(230, 227, 249, 0.85);
    width: 20%;
    font-size: 20px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 10px;
    border: 1px rgba(230, 227, 249, 0.85);
    border-radius: 4px;
  }