.consumer-intro-container {
    position: relative;
    /* Establishes a containing block for absolutely positioned elements */
}

.consumer-intro-img {
    width: 80vw;
    margin: 2.5vh 0 0 10vw;
    height: 37.5vh;
    object-fit: cover;
    object-position: 50% 5%;
    opacity: 0.6;
    display: block;
    /* Ensures the img takes up space */
}

.consumer-intro-header {
    position: absolute;
    top: 20%;
    color: black;
    font-size: 2.75em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    width: 100%;
    text-align: center;
}